/* ======= ESTILO DO CABEÇALHO ======= */
header {
  background-color: var(--cor-primaria); 
  color: white;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo e nome da ONG */
.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 80px;
}

.logo h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

/* ======= MENU DE NAVEGAÇÃO ======= */
nav ul {
  list-style: none;
  display: flex;
  gap: 24px;
  margin: 0;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

/* (quando passa o mouse) */
nav ul li a:hover {
  color: var(--cor-scundara);
}

/* ÍCONE ᐅ ANTES DOS BOTÕES  */
nav ul li a::before {
  content: " ᐅ ";
  color: var(--cor-secundaria);
  font-weight: bold;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #fafafa;
  color: #333;
}

header {
  background-color: #332a7b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
}

.logo {
  height: 80px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

main {
  padding: 30px;
}

section {
  margin-bottom: 40px;
}

.projeto img, .sobre img {
  width: 100%;
  max-width: 600px;
  border-radius: 8px;
  margin-top: 10px;
}

.botao {
  display: inline-block;
  padding: 10px 20px;
  background-color: #312a7b;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

form {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
}

fieldset {
  border: 1px solid #ccc;
  margin-bottom: 20px;
  padding: 15px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin-top: 10px;
}

input, button {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button {
  background-color: #3a2a7b;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #29256b;
}

footer {
  text-align: center;
  background-color: #3d2a7b;
  color: white;
  padding: 10px;
}
